{% extends "authenticated-base.html" %} {% block additional_styles %}
<style>
  div.card {
    margin: 0;
  }

  #result {
    margin-top: 10px;
    max-height: 40vh;
    overflow-y: auto;
  }

  .todo-card {
    min-height: 265px;
    padding-top: 30px;
  }

  .todo-actions a,
  .todo-actions button {
    margin-right: 12px;
  }

  .todo-form-inline {
    margin: 0;
  }

  .todo-title {
    font-size: 1.2rem;
    font-weight: 500;
  }
</style>
{% endblock %} {% block subpage_content %}
<main class="container-fluid" style="padding-top: 20px">
  <form
    name="addForm"
    class="card todo-card shadow-sm"
    method="POST"
    action="/todos"
  >
    <div class="card-body">
      <h4 class="card-title mb-4">{{ user.username }}'s Todo</h4>

      <div class="mb-3">
        <label for="title" class="form-label">Enter Todo Text</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder=""
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="card-footer bg-white border-0 pb-4">
      <div class="row">
        <div class="col-md-3 ms-auto d-grid">
          <input class="btn btn-primary" type="submit" value="SAVE" />
        </div>
      </div>
    </div>
  </form>

  <ul class="list-group" id="result">
    {% for todo in todos %}
    <li class="list-group-item">
      <form
        class="row align-items-center todo-form-inline"
        method="POST"
        action="/todos/{{ todo.id }}/toggle"
      >
        <div class="col-md-8">
          <span
            class="todo-title {% if todo.completed %}text-decoration-line-through text-muted{% endif %}"
          >
            {{ todo.title }}
          </span>
        </div>

        <div class="col-md-4 text-md-end mt-2 mt-md-0">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              name="completed"
              onchange="this.form.submit()"
              {%
              if
              todo.completed
              %}checked{%
              endif
              %}
            />
            <label class="form-check-label">Done</label>
          </div>
        </div>
      </form>

      <div class="row mt-2">
        <div class="col todo-actions">
          <a href="/editTodo/{{ todo.id }}">EDIT</a>

          <form
            method="POST"
            action="/todos/{{ todo.id }}/delete"
            style="display: inline"
          >
            <button type="submit" class="btn btn-link p-0 align-baseline">
              DELETE
            </button>
          </form>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
